################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/web静态页面设计/SmartDetectionOfGas.git/.svn
